.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #122536;
}

.text {
  color: #acacac;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
