.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.body {
  background-color: #122536;
}

.header {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.text {
  color: #acacac;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

#button {
  
  cursor: grab;
}
